@import "~bootstrap/scss/bootstrap";
@import "./global/fonts.scss";

@import "~owl.carousel/dist/assets/owl.carousel.css";

@import "./scss/header.scss";
@import "./scss/logo.scss";
@import "./scss/home.scss";
@import "./scss/conteudos.scss";
@import "./scss/mais-lidas.scss";

@import "./scss/components/search.scss";
@import "./scss/components/carousel.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-size: 14px;
  -webkit-font-smoothing: antialiased !important;
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
}
