.conteudos {
  position: relative;
  .conteudos-titulo {
    padding-top: 73px;
    p {
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;
      font-size: 1.15em;
      color: #000000;
    }
    p span {
      background: #fff;
      padding: 0 140px;
    }
  }
  .noticias-box {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding-top: 96px;
    max-width: 1280px;
    margin: auto;
    flex-wrap: wrap;

    .noticia {
      max-width: 336px;
      width: 100%;
      margin-bottom: 30px;
      .noticia-box-image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .box-img {
          cursor: pointer;
          width: 100%;
          position: relative;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          &:before {
            content: "";
            display: block;
            padding-top: 100%;
          }
          .content {
            background: #ccc;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            bottom: 0;
            -webkit-box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.1);
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            &:before {
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              -webkit-transition: all 200ms ease;
              -moz-transition: all 200ms ease;
              -ms-transition: all 200ms ease;
              -o-transition: all 200ms ease;
              transition: all 200ms ease;
              width: 100%;
              z-index: 1;
            }
            img {
              max-width: 100%;
              min-width: 100%;
              max-height: 100%;
              min-height: 100%;
              position: absolute;
              object-fit: cover;
            }
          }
        }
        .noticia-box {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          background-color: #fff;
          border: 1px solid #eee;
          padding: 15px;
          transform: translateY(-50%);
          span {
            font-family: Open Sans;
            letter-spacing: 0.99px;
            font-size: 0.71em;
            color: #5f5f5f;
            text-align: center;
          }
          h2 {
            margin-top: 15px;
            max-width: 235px;
            font-family: Open Sans;
            letter-spacing: 1.31px;
            line-height: 1.5;
            font-size: 1em;
            color: #484848;
            text-align: center;
          }
          p {
            max-width: 212px;
            font-family: Open Sans;
            letter-spacing: 0.99px;
            font-size: 0.71em;
            color: #5f5f5f;
            text-align: center;
          }
          a {
            font-family: Open Sans;
            letter-spacing: 0.99px;
            font-size: 1em;
            color: #5f5f5f;
            text-align: center;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .botao-conteudos {
    margin-top: 30px;
    max-width: 225px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    background-color: #ec594e;
    color: #fff;
    padding: 7.5px 49px 7.5px 49px;
    opacity: 1;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    margin-bottom: 50px;
    &:hover {
      color: #5f5f5f;
    }
  }
}

// @media screen and (max-width: 1100px) {
//   .conteudos {
//     .noticias-box {
//       flex-direction: row;
//       display: flex;
//       justify-content: space-evenly;
//       .noticia {
//         max-width: 250px;
//         width: 100%;
//         height: 300px;
//         .noticia-box-image {
//           position: relative;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           flex-direction: column;
//           img {
//             height: 80%;
//             width: 100%;
//             min-height: 336px;
//             object-fit: cover;
//           }
//           .noticia-box {
//             position: relative;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: space-evenly;
//             background-color: #fff;
//             border: 1px solid #eee;
//             padding: 15px;
//             transform: translateY(-50%);
//           }
//         }
//       }
//     }
//     .botao-conteudos {
//       padding-top: 100px;
//     }
//   }
// }

@media screen and (max-width: 911px) {
  .conteudos {
    .conteudos-titulo {
      padding-top: 45px;
      p span {
        background: #fff;
        padding: 0 40px;
      }
    }
    .noticias-box {
      flex-direction: column;
      align-items: center;
      padding-top: 0;
      .noticia {
        max-width: 350px;
        width: 100%;
        height: 100%;
        padding: 15px;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        &:first-child {
          padding-top: 45px;
        }
        .noticia-box-image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 80%;
            width: 100%;
            min-height: 336px;
            object-fit: cover;
          }
          .noticia-box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: #fff;
            border: 1px solid #eee;
            padding: 15px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
