.mais-lidas {
    position: relative;
    .mais-lidas-titulo {
      padding-top: 73px;
      padding-bottom: 96px;
      p {
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        font-size: 1.15em;
        font-family: "Open Sans";
        color: #000000;
      }
      p span {
        background: #fff;
        padding: 0 140px;
      }
    }
    .botao-mais-lidas {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 94px;
      a {
        background-color: #ec594e;
        color: #fff;
        padding: 7.5px 49px 7.5px 49px;
        opacity: 1;
      }
    }
  }
  